{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <form method="post" action="{{ url_for('signup') }}">
            {{ form.csrf_token }}

            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.confirmPassword.label }}
                {{ form.confirmPassword(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.title.label }}
                {{ form.title(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.website.label }}
                {{ form.website(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.birthday.label }}
                {{ form.birthday(type="date",class="form-control") }}
            </div>

            {{ form.recaptcha }}

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% elif form.password.errors %}
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% elif form.confirmPassword.errors %}
            {% for error in form.confirmPassword.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% elif form.title.errors %}
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% elif form.website.errors %}
            {% for error in form.website.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% elif form.birthday.errors %}
            {% for error in form.birthday.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}